<mat-card >
    <mat-card-title>Escolha um Produto:</mat-card-title> 
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title class="title">Caneta </mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/canetabic.jpeg">
    </mat-card-header>
  
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Caneta</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/canetabic.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Notebook</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/notebook.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Sansung</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/sansung.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="imagem1"></div>
        <mat-card-title>Livro</mat-card-title>
        <img class="imagem" mat-card-image src="assets/img/livroteste.jpeg">
    </mat-card-header>
    <mat-card-actions>
        <button mat-button class="button">
            <mat-icon class="icon">shopping_cart</mat-icon>>adicionar ao carinho
        </button>
    </mat-card-actions>
</mat-card>
